# Database Configuration
NODE_ENV=[e.g development, production]
PORT=[e.g 3000]
HOST=[e.g localhost, 0.0.0.0]

# Frontend URL for CORS Configuration
FRONTEND_URL=

# Database Configuration
DATABASE_URL=
DIRECT_URL=

# Supabase Storage Configuration
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# JWT Configuration
ACCESS_TOKEN_KEY=
REFRESH_TOKEN_KEY=

# API model AI URL
PREDICT_API_URL=

# Frontend URL for CORS
FRONTEND_URL=